<div align="center">
  <h1 class="alert-primary">Nóminas</h1>
</div>

<img src="assets/Escritorio.jpg" class="img-fluid" alt="Responsive image">

<div class="alert alert-primary" role="alert">
  Gerencie su pago para su pequeña empresa desde "Nominas", una pagina segura y facil de utilizar
</div>

<div class="row g-3 ">
  <div class="col-md-6">
    <div align="center">
      <h5> Garantia</h5>
    </div>

    <p>
      Tomamos su nomina de acuerdo a su tipo de empleado y se liquida de acuerdo a las fechas establecidas por usted
      mismo
    </p>
  </div>

  <div class="col-md-6 ">
    <div align="center">
      <h5> Requisitos</h5>
    </div>
    <p>
      Solo debe diligenciar los datos basicos del empleado y establecer el tipo de empleado que desea contratar
    </p>
  </div>

</div>